<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/app.js" defer></script>
</head>
<body>
    <main>
        <div>
            <form class="email-form">
                <input class="basic-info" type="text" placeholder="name" name="name" id="name-field">
                <input class="basic-info" type="email" placeholder="email" name="email" id="user-email">
                <input class="basic-info" type="text" placeholder="subject" name="subject" id="subject-email">
                <textarea class="text-area" name="message" id="message-email" cols="30" rows="10"></textarea>
                <button class="button" id="send">Send</button>
            </form>
        </div>
</body>
    </main>
</html>