<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/app.js" defer></script>
</head>
<body>
    <div class="grid-container">
        <div class="header-0">
            <h1>ThatShadowCoder</h1>
            <h1>Contact</h1>
        </div>
        <div class="emailer-1">
            <form class="email-form">
                <input class="basic-info email-info" type="text" placeholder="name" name="name" id="name-field">
                <input class="basic-info email-info" type="email" placeholder="email" name="email" id="user-email">
                <input class="basic-info email-info" type="text" placeholder="subject" name="subject" id="subject-email">
                <textarea class="text-area email-info" placeholder="message" name="message" id="message-email" cols="30" rows="20"></textarea>
                <button class="button" id="send">Send Message</button>
            </form>
        </div>
        <div class="right-panel-2"></div>
    </div>
</body>
</html>